# Лабораторная работа №4 (Laboratory work 4)
### Задача класстеризации - исследование красного вина (Clustering task - Red Wine Research)

--------------------------------------
### Эпилог (Epilogue):
#### Набор данных относится к красному варианту португальского вина Vinho Verde. Из-за конфиденциальности и логистических проблем доступны только физико-химические (входные данные) и "качество" вина. Также учитываем, что нет дополнительных данных, т.е. о сортах винограда, марке вина, отпускной цене вина и т.д. (The dataset refers to the red variant of the Portuguese wine Vinho Verde. Due to confidentiality and logistical issues, only the physico-chemical (input data) and "quality" of the wine are available. We also take into consideration that there is no additional data, i.e. about grape varieties, wine brand, selling price of wine, etc.)
### Цель (Goal):
#### Данные не стандартизированы, не сбалансированы. Нужно научиться классифицировать данные и сравнить методы: задачу классификации и её после метода главных компонент, сделать вывод о лучшей классификации. (The data is not standardized, not balanced. It is necessary to learn how to classify data and compare methods: the classification task and its main components after the method, to conclude about the best classification.)

-------------------------------------
## Задание 1-2 (Task 1-2)
#### Загрузка и анализ исходных данных (Downloading and analyzing input data)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('vine.dat', header=None)
df.columns =['FixedAcidity', 'VolatileAcidity', 'CitricAcid', 'ResidualSugar', 'Chlorides', 'FreeSulfurDioxide', 'TotalSulfurDioxide', 'Density', 'PH', 'Sulphates', 'Alcohol', 'Class']
df

,FixedAcidity,VolatileAcidity,CitricAcid,ResidualSugar,Chlorides,FreeSulfurDioxide,TotalSulfurDioxide,Density,PH,Sulphates,Alcohol,Class
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [3]:
df.dtypes

FixedAcidity          float64
VolatileAcidity       float64
CitricAcid            float64
ResidualSugar         float64
Chlorides             float64
FreeSulfurDioxide     float64
TotalSulfurDioxide    float64
Density               float64
PH                    float64
Sulphates             float64
Alcohol               float64
Class                   int64
dtype: object

## Задание 3
#### Стандартизация

In [4]:
from sklearn import preprocessing
import numpy as np

In [5]:
Columns = ['FixedAcidity', 'VolatileAcidity', 'CitricAcid', 'ResidualSugar', 'Chlorides', 'FreeSulfurDioxide', 'TotalSulfurDioxide', 'Density', 'PH', 'Sulphates', 'Alcohol']

In [10]:
scaler_std = preprocessing.StandardScaler()
x = scaler_std.fit_transform(df[Columns])
df[Columns] = x
df.dropna()
df

C:\Users\User\AppData\Local\Temp\ipykernel_8932\1485190078.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[Columns] = x

      FixedAcidity  VolatileAcidity  CitricAcid  ResidualSugar     Class
0        -0.528360         0.961877   -1.391472      -0.453218 -0.787823
1        -0.298547         1.967442   -1.391472       0.043416 -0.787823
2        -0.298547         1.297065   -1.186070      -0.169427 -0.787823
3         1.654856        -1.384443    1.484154      -0.453218  0.450848
4        -0.528360         0.961877   -1.391472      -0.453218 -0.787823
...            ...              ...         ...            ...       ...
1594     -1.217796         0.403229   -0.980669      -0.382271 -0.787823
1595     -1.390155         0.123905   -0.877968      -0.240375  0.450848
1596     -1.160343        -0.099554   -0.723916      -0.169427  0.450848
1597     -1.390155         0.654620   -0.775267      -0.382271 -0.787823
1598     -1.332702        -1.216849    1.021999       0.752894  0.450848

[1599 rows x 5 columns]

## Задание 4
#### Выполните расчёт главных компонент. Преобразуйте набор к новой системе
#### координат и отсеките те координаты, которым соответствует собственные значения,
#### меньшие 1.

In [7]:
from sklearn.decomposition import PCA
pca = PCA()
table_pca = pca.fit_transform(df[['FixedAcidity', 'VolatileAcidity', 'CitricAcid', 'ResidualSugar', 'Chlorides', 'FreeSulfurDioxide', 'TotalSulfurDioxide', 'Density', 'PH', 'Sulphates', 'Alcohol']])
explained_variance_ratio = pca.explained_variance_ratio_
print(explained_variance_ratio)
explained_variance = pca.explained_variance_
print(explained_variance)

[0.28173931 0.1750827  0.1409585  0.11029387 0.08720837 0.05996439
 0.05307193 0.03845061 0.0313311  0.01648483 0.00541439]
[3.10107182 1.92711489 1.55151379 1.21399175 0.95989238 0.66002104
 0.58415655 0.42322138 0.34485779 0.18144664 0.05959558]

In [11]:
df=df[['FixedAcidity', 'VolatileAcidity', 'CitricAcid', 'ResidualSugar', 'Class']]
Columns = ['FixedAcidity', 'VolatileAcidity', 'CitricAcid', 'ResidualSugar', 'Class']
df

      FixedAcidity  VolatileAcidity  CitricAcid  ResidualSugar     Class
0        -0.528360         0.961877   -1.391472      -0.453218 -0.787823
1        -0.298547         1.967442   -1.391472       0.043416 -0.787823
2        -0.298547         1.297065   -1.186070      -0.169427 -0.787823
3         1.654856        -1.384443    1.484154      -0.453218  0.450848
4        -0.528360         0.961877   -1.391472      -0.453218 -0.787823
...            ...              ...         ...            ...       ...
1594     -1.217796         0.403229   -0.980669      -0.382271 -0.787823
1595     -1.390155         0.123905   -0.877968      -0.240375  0.450848
1596     -1.160343        -0.099554   -0.723916      -0.169427  0.450848
1597     -1.390155         0.654620   -0.775267      -0.382271 -0.787823
1598     -1.332702        -1.216849    1.021999       0.752894  0.450848

[1599 rows x 5 columns]